body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}



.foto-perfil {
    width: 150px; 
    height: 150px;
    border-radius: 50%;
    border: 3px solid black;
}

section {
    margin: 20px;
    padding: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2)

}

header {
    background: black;
    color: white;
    padding: 20px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    background: black;
    color: white;
}